@page "/de"

@rendermode InteractiveServer
@attribute [StreamRendering]

<EditForm Model="RegistrationModel" FormName="Test" OnValidSubmit="Add0" OnInvalidSubmit="Add1">
    <DataAnnotationsValidator />
    <div class="modal-body">
        <div class="form-group">
            <label>Ваше имя:</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.UserName" type="name" />
            <ValidationMessage For="@(() => RegistrationModel.UserName)" />
        </div>
        <div class="form-group">
            <label>Почта:</label>
            <InputText class="form-control" @bind-Value="RegistrationModel.Mail" type="email" pattern="{8}" />
            <p class="order-form-note">*Не менее 8 символов</p>
            <ValidationMessage For="@(() => RegistrationModel.Mail)" />
        </div>
        <div class="form-group">
            <label>Телефон:</label>
            <InputText class="form-control" @bind-Value=RegistrationModel.Phone pattern="\+7\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}" />
            <p class="order-form-note">*В формате: 9996668855</p>
            <ValidationMessage For="@(() => RegistrationModel.Phone)" />
        </div>
        <div class="form-group">
            <label>Пароль:</label>
            <InputText class="form-control" @bind-Value="@RegistrationModel.Password" type="password" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="purple-button" data-bs-toggle="modal" >Регистрация</button>
        <button type="button" class="purple-button" data-bs-dismiss="modal">Отмена</button>
    </div>
</EditForm>

@if (i == 0) {<p>000000000000000000000000000000000000000000</p>
};

@if (i == 1)
{
    <p>111111111111111111111111111111</p>
};

@code {
    [SupplyParameterFromForm(FormName = "Test")]
    public UserRegistrationInputModel RegistrationModel { get; set; }

    int i;

    [Parameter]
    public Action AddUser { get; set; }

    public TestModel()
    {
        RegistrationModel = new UserRegistrationInputModel();
    }

    private void Add0()
    {
        i = 0;
    }

    private void Add1()
    {
        i = 1;
    }
}