
@font-face {
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
}

@font-face {
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box-footer{
    margin: auto 50px;
}
.white {
    color: #FFFEFF;
}

.table {
    color: #FFFEFF;
}
p {
    font-size: 20px;
}

a {
    color: #54494B;
}    

html, body {
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #54494B;
    background-color: #AF8DFE;
}
.text-style {
    font-family: 'Manrope-VariableFont_wght', sans-serif;
    font-size: 20px;
    line-height: 20px;
}


button {
    background-color: #FFFEFF;
    border-radius: 15px;
    padding: 15px 15px;
    margin: 20px 20px 20px 20px;
}
/*обычная кнопка*/
.purple-button {
    color: #AF8DFE;
    border: none;
}
.button {
    background-color: #FFFEFF;
    border-radius: 30px;
    padding: 15px 60px 15px 60px;
    margin: 40px 20px 140px 20px;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 25px;
    line-height: 20px;
    color: #AF8DFE;
    border: none;
    height: 100px;
}

/*карточки*/
.order-button {
    border: 1px solid #92dea8;
    height: 100px;
    line-height: 30px;
    align-items: baseline;
    padding: 10px 40px;
    margin: 10px 10px;
    border-radius: 20px;
    color: #AF8DFE;
}
.task-button {
    border: 1px solid #92dea8;
    height: 150px;
    line-height: 30px;
    align-items: baseline;
    padding: 10px 40px;
    margin: 10px 10px;
    border-radius: 20px;
    color: #AF8DFE;
}
/*карточки клиентов*/
.client-button {
    border: 1px solid #92dea8;
    height: 150px;
    line-height: 30px;
    align-items: baseline;
    padding: 10px 40px;
    margin: 10px 10px;
    border-radius: 20px;
    color: #AF8DFE;
}
.worker-button {
    border: 1px solid #92dea8;
    line-height: 30px;
    align-items: baseline;
    padding: 20px 40px;
    margin: 20px 10px;
    border-radius: 20px;
    color: #AF8DFE;
}
.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0; /* Цвет фона */
}

.top-right {
    position: absolute;
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    max-width: 100px; /* Максимальная ширина картинки */
    max-height: 100px; /* Максимальная высота картинки */
}

.block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #AF8DFE;
}
.box-button-tekst {
    justify-content: space-around;
    flex-direction: row;
    flex wrap: nowrap;
}


.h {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 80px;
    color: #FFFEFF;
}


h3 {
    color: #FFFEFF;
    font-size: 30px;
    font-family: 'Manrope-VariableFont_wght', sans-serif;
}

h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 40px;
    color: #FFFEFF;
}



.manager-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*ВОТ ЭТО ДЛЯ ЗАГОЛОВКОВ ТЕКСТА НА СТРАНИЦЕ*/
.manager-h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 40px;
    color: #FFFEFF;
}

.manager-blok {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.manager-button-contaiber {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #54494B;
}



/*ФОРМА ВВОДА ЧЕГО-ТО*/
.text {
    margin: 20px 20px 5px 20px;
}

.field {
    margin: 10px 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    max-width: 1000px;
    border: none;
}

.field-purple {
    margin: 10px 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    max-width: 1000px;
    color: #AF8DFE;
    border: none;
}

.text-purple {
    margin: 20px 20px 5px 20px;
    color: #FFFEFF;
}

.conteiner-for-text {
    display: flex;
    flex-direction: column;
}

.container-add-order {
    display: flex;
    justify-content: center;
    align-items: center;
}
//выравнивание по центру
.aligncenter {
    text-align: center;
}





/*ШАПКА СТРАНИЦЫ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu ul {
    display: flex;
    list-style: none;
}
    .navbar .menu-yellow ul {
        display: flex;
        list-style: none;
    }
.navbar .menu ul li {
    margin: 20px 20px;
}

    .navbar .menu-yellow ul li {
        margin: 20px 20px;
    }

    .navbar .menu ul a {
       
        color: #FFFEFF;
    }

    .navbar .menu-yellow ul a {
        color: #FDD551
    }






.button-container {
    display: flex;

}

.yellow {
    color: #FDD551
}


.button-quest:hover {
    color: #fff;
    background: #000;
    padding: 1.2rem 2rem;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    transition: background 9999999s;
}

button:active {
    background-color: #FDD551;
    transition: background 0s;
}



@media screen and (max-width: 500px) {
    .navbar {
        flex-direction: column;
    }

        .navbar .menu ul {
            flex-direction: column;
            align-self: center;
        }

            .navbar .menu ul li {
                margin: 5px;
            }
}




.fields-add-order {
    width: 700px;
    background-color: ghostwhite;
    border-radius: 15px;
    margin: 40px 60px 40px 60px;
    padding: 20px 60px 20px 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #444444;
}


.input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 16px;
}

.button-add-order {
    color: white;
    background-color: #5DA271;
    border: 1px solid #5DA271;
    flex: 1;
    padding: 10px 40px;
    margin: 20px 20px;
    border: none;
    border-radius: 20px;
}

h4 {
    font-size: 25px;
}

/*

.layout-container {
    position: fixed;
    background-color: #0000009e;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.layout {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    padding: 30px;
}

.layout input {
    font-size: 20px;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.layout h2 {
    margin: 0 0 30px;
}



.taskMaster-card {
    background-color: white;
    border: 2px solid black;
    margin: 10px 10px;
    height: 220px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.taskMaster-card {
    font-size: 20px;
    color: #54494B;
    background-color: #fff252;
    border: 1px solid #fff252;
    padding: 40px 40px 40px 40px;
    margin: 10px 10px 10px 10px;
    border-radius: 30px;
}

.container-task {
    display: flex;
    flex-direction: row;

}

.container-buttons {
    display: flex;
    flex-direction: column;
}
*/
