@font-face {
    font-family: 'manrope';
    src: url(/fonts/Manrope-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DelaGothicOne';
    src: url(/fonts/DelaGothicOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*ШАПКА СТРАНИЦЫ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .navbar .menu ul {
        display: flex;
        list-style: none;
    }

    .navbar .menu-yellow ul {
        display: flex;
        list-style: none;
    }

    .navbar .menu ul li {
        margin: 20px 20px;
    }

    .navbar .menu-yellow ul li {
        margin: 20px 20px;
    }

    .navbar .menu ul a {
        color: #FFFEFF;
    }

    .navbar .menu-yellow ul a {
        color: #FDD551
    }

.button-container {
    display: flex;
    height: 70px;
}

.yellow {
    color: #FDD551
}


.button-quest:hover {
    color: #fff;
    background: #000;
    padding: 1.2rem 2rem;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    transition: background 9999999s;
}

button:active {
    background-color: #FDD551;
    transition: background 0s;
}

.white {
    color: #FFFEFF;
}

.manager-reassign-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table {
    color: #FFFEFF;
}

p {
    font-size: 20px;
}

a {
    color: #54494B;
}

html, body {
    display: flex;
    min-height: 100vh;
    overflow: auto;
    padding: 0;
    margin: 20px;
    font-family: 'DelaGothicOne', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #54494B;
    background-color: #AF8DFE;
}

.text-style {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 20px;
}


button {
    background-color: #FFFEFF;
    border-radius: 15px;
    padding: 15px 15px;
    margin: 20px 20px 20px 20px;
}

������� ������
.purple-button {
    color: #AF8DFE;
    border: none;
    height: 50px;
}

.button {
    background-color: #FFFEFF;
    border-radius: 30px;
    padding: 15px 60px 15px 60px;
    margin: 40px 20px 140px 20px;
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 25px;
    line-height: 20px;
    color: #AF8DFE;
    border: none;
    height: 100px;
}

.order-button {
    border: 1px solid #92dea8;
    height: 100px;
    line-height: 30px;
    align-items: baseline;
    padding: 10px 40px;
    margin: 10px 10px;
    border-radius: 20px;
    color: #AF8DFE;
}

.task-button {
    border: 1px solid #92dea8;
    height: 150px;
    line-height: 30px;
    align-items: baseline;
    padding: 10px 40px;
    margin: 10px 10px;
    border-radius: 20px;
    color: #AF8DFE;
}

�������� ��������
.client-button {
    border: 1px solid #92dea8;
    height: 150px;
    line-height: 30px;
    align-items: baseline;
    padding: 10px 40px;
    margin: 10px 10px;
    border-radius: 20px;
    color: #AF8DFE;
}

.worker-button {
    border: 1px solid #92dea8;
    line-height: 30px;
    align-items: baseline;
    padding: 20px 40px;
    margin: 20px 10px;
    border-radius: 20px;
    color: #AF8DFE;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    ���� ����
}

.top-right {
    position: absolute;
    top: 10px;
    ������ ������ right: 10px;
    ������ ������ max-width: 100px;
    ������������ ������ �������� max-height: 100px;
    ������������ ������ ��������
}

.block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #AF8DFE;
}

.box-button-tekst {
    justify-content: space-around;
    flex-direction: row;
    flex wrap: nowrap;
}


.h {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 80px;
    color: #FFFEFF;
}


h3 {
    color: #FFFEFF;
    font-size: 30px;
    font-family: 'Manrope-VariableFont_wght', sans-serif;
}

h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 40px;
    color: #FFFEFF;
}



.manager-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

��� ��� ��� ���������� ������ �� ��������
.manager-h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 40px;
    color: #FFFEFF;
}

.manager-blok {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.manager-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #54494B;
}



.text {
    margin: 20px 20px 5px 20px;
}

.field {
    margin: 10px 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    max-width: 1000px;
    border: none;
}

.field-purple {
    margin: 10px 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    max-width: 1000px;
    color: #AF8DFE;
    border: none;
}

.text-purple {
    margin: 20px 20px 5px 20px;
    color: #FFFEFF;
}

.container-for-text {
    display: flex;
    flex-direction: column;
}

.container-add-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

//������������ �� ������
.aligncenter {
    text-align: center;
}

table {
    border-spacing: 0px;
}

tr {
    cursor: pointer;
}

    tr:hover {
        background: #ddd;
    }

.navbar .menu ul a {
    color: #FFFEFF;
}

.navbar .menu-yellow ul a {
    color: #FDD551
}






.button-container {
    display: flex;
}

td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

.heading-cell {
    text-align: left;
    padding: 16px;
}

.cell {
    border-top: 1px solid gray;
    text-align: left;
    padding: 16px;
}




.fields-add-order {
    width: 700px;
    background-color: ghostwhite;
    border-radius: 15px;
    margin: 40px 60px 40px 60px;
    padding: 20px 60px 20px 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #444444;
}


.input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 16px;
}

.button-add-order {
    color: white;
    background-color: #5DA271;
    border: 1px solid #5DA271;
    flex: 1;
    padding: 10px 40px;
    margin: 20px 20px;
    border: none;
    border-radius: 20px;
}

h4 {
    font-size: 25px;
}
