<div class="home-client">
    <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#applicationNew">
            Оставить заявку
        </button>
    </div>
    <div class="welcome">
        <h1 class="h yellow">Добро пожаловать в Твой День!</h1>
    </div>
    <div class="welcome">
        <p class="container-for-text">
            <big>
                Празднование дней рождений, юбилеев и других важных событий в кругу близких людей всегда приятно.
                Особенно когда мероприятие грамотно спланировано. Агентство праздников «Твой день» предоставляет полный спектр услуг.
                Мы имеем более 10 лет успешного опыта в создании интересных, веселых тематических торжеств, команду профессионалов.
                Предоставляем гарантии каждому клиенту.
            </big>
        </p>
    </div>
    <div>
        <img src="/images/29000411.jpg">
    </div>
    <div>
        <img src="/images/96714381.jpg">
    </div>
</div>

<GetClaims SendIsCompleted="b=>_isCompleted=b" SendMail="m=>_mail=m"></GetClaims>

<div class="modal fade" id="applicationNew" tabindex="-1" aria-hidden="true">
    <ApplicationModalForm AddApplication="AddApplication" />
</div>

@code {
    private string _mail;

    private bool _isCompleted;

    private IOrderService _orderService;

    public ClientHome()
    {
        _orderService = new OrderService();
    }

    private async Task AddApplication(ApplicationInputModel input)
    {
        await _orderService.AddApplication(input, _mail);
    }
}