<section>
    <div class="blok">
        <h2 class="h">Добро пожаловать в</h2>
        <h2 class="h yellow">Твой День!</h2>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#applicationNew">
            Оставить заявку
        </button>
    </div>
</section>

<section>
    <div class="blok">
        <h1 class="h yellow" align="center">Немного о Нас</h1>

        <p class="container-for-text">
            <big>
                Празднование дней рождений, юбилеев и других важных событий в кругу близких людей всегда приятно.
                Особенно когда мероприятие грамотно спланировано. Агентство праздников «Твой день» предоставляет полный спектр услуг.
                Мы имеем более 10 лет успешного опыта в создании интересных, веселых тематических торжеств, команду профессионалов.
                Предоставляем гарантии каждому клиенту.
            </big>
        </p>

        <div class="aligncenter">
            <img src="/images/29000411.jpg" alt="">
            <img src="/images/29000411.jpg" alt="">
        </div>
    </div>
</section>

<section>
    <footer class="footer">
        <div class="box-footer">
            <p class=".font-weight-bold">Контакты: пишите нам!</p>
        </div>

        <div class="box-footer">
            <p>E-mail:<a href="mailto:your.day@something.com">your.day@something.com</a>  </p>

        </div>
        <div class="box-footer">
            <p>Телефон:<a href="8(987)1234567">  8 (987) 123 45 67 </a></p>
        </div>
    </footer>
</section>

<GetClaims SendIsCompleted="b=>_isCompleted=b" SendMail="m=>_mail=m"></GetClaims>

<div class="modal fade" id="applicationNew" tabindex="-1" aria-hidden="true">
    <ApplicationModalForm AddApplication="AddApplication" />
</div>

@code {
    private string _mail;

    private bool _isCompleted;

    private IOrderService _orderService;

    public ClientHome()
    {
        _orderService = new OrderService();
    }

    private void AddApplication(ApplicationInputModel input)
    {
        _orderService.AddApplication(input, _mail);
    }
}