@rendermode InteractiveServer
<button type="button" class="btn btn-primary" @onclick="GetCompletedOrders">
    История
</button>
<button type="button" class="btn btn-primary" @onclick="GetCurrentOrders">
    Заказы
</button>

<div class="manager-container">
    <section>
        <div class="manager-blok">
            @if (!_isClick)
            {
                <h2 class="manager-h1"> Наши заказы:</h2>
                <div class="manager-button-container">
                    @foreach (var i in _currentOrders)
                    {
                        <OrderCard Order=i> </OrderCard>
                    }
                </div>
            }
            else
            {
                <h2 class="manager-h1"> Наши заказы:</h2>
                <div class="manager-button-container">
                    @foreach (var i in _completedOrders)
                    {
                        <OrderCard Order=i> </OrderCard>
                    }
                </div>
            }
        </div>
    </section>
</div>

@code {
    private bool _isClick;

    private IEnumerable<OrderNameDateOutputModel> _orders;

    private IEnumerable<OrderNameDateOutputModel> _completedOrders;

    private IEnumerable<OrderNameDateOutputModel> _currentOrders;

    private IOrderService _orderService;

    public ManagerHome()
    {
        _orderService = new OrderService();
        _orders = Enumerable.Empty<OrderNameDateOutputModel>();
        _completedOrders = Enumerable.Empty<OrderNameDateOutputModel>();
        _currentOrders = Enumerable.Empty<OrderNameDateOutputModel>();
    }

    protected override async Task OnInitializedAsync()
    {
        _orders = await _orderService.GetAllOrdersForCard();
        _currentOrders = _orderService.ShowAllInProgressOrdersForCard(_orders);
        _completedOrders = _orderService.ShowAllCompletedAndCanselledOrdersForCard(_orders);
    }

    private void GetCompletedOrders()
    {
        _isClick = true;
    }

    private void GetCurrentOrders()
    {
        _isClick = false;
    }
}