<div class="home-client">
    <div class="welcome">
        <h1 class="h">Добро пожаловать</h1>
        <h1 class="h yellow"> в Твой День!</h1>
    </div>
    <div class="welcome">
        <p class="container-for-text">
            <big class="text">
                Празднование дней рождений, юбилеев и других важных событий в кругу близких людей всегда приятно.
                Агентство праздников Твой день предоставляет полный спектр услуг.
                Более 10 лет успешного опыта в создании интересных, веселых тематических торжеств.
            </big>
        </p>
    </div>
    <div>
        <img src="/images/29000411.jpg">
    </div>
    <div>
        <img src="/images/96714381.jpg">
    </div>
</div>