<section>
    <div class="blok">
        <h2 class="h">Добро пожаловать в</h2>
        <h2 class="h yellow">Твой День!</h2>
    </div>
</section>

<section>
    <div class="blok">
        <h1 class="h yellow" align="center">Немного о Нас</h1>

        <p class="container-for-text">
            <big>
                Празднование дней рождений, юбилеев и других важных событий в кругу близких людей всегда приятно.
                Особенно когда мероприятие грамотно спланировано. Агентство праздников «Твой день» предоставляет полный спектр услуг.
                Мы имеем более 10 лет успешного опыта в создании интересных, веселых тематических торжеств, команду профессионалов.
                Предоставляем гарантии каждому клиенту.
            </big>
        </p>

        <div class="aligncenter">
            <img src="/images/29000411.jpg" alt="">
            <img src="/images/96714381.jpg" alt="">
        </div>
    </div>
</section>