<div class="home-client">
    <div class="welcome">
        <h1 class="h yellow">Добро пожаловать в Твой День!</h1>
    </div>
    <div class="welcome">
        <p class="container-for-text">
            <big>
                Празднование дней рождений, юбилеев и других важных событий в кругу близких людей всегда приятно.
                Особенно когда мероприятие грамотно спланировано. Агентство праздников «Твой день» предоставляет полный спектр услуг.
                Мы имеем более 10 лет успешного опыта в создании интересных, веселых тематических торжеств, команду профессионалов.
                Предоставляем гарантии каждому клиенту.
            </big>
        </p>
    </div>
    <div>
        <img src="/images/29000411.jpg" alt="">
    </div>
    <div>
        <img src="/images/96714381.jpg" alt="">
    </div>
</div>