@page "/contactTheManager"
@attribute [StreamRendering]
@inject NavigationManager NavigationWorker
@using YourDay.BLL.Services;
@using YourDay.DAL.Enums;



<PageTitle>ContactTheManager</PageTitle>
@code {
    private Role Manager;
    private void ContactTheManagers()
    {
        NavigationWorker.NavigateTo("/contactTheManager");
    }

    private IEnumerable<ManagerNameAndPhoneOutputModel> _models;
    private IManagerService _managers = new ManagerService();

    public ContactTheManager()
    {
        _models = _managers.GetAllManagers();
    }

}
<div>
    <h2 class="manager-h1">Здесь вы можете связаться с менеджером:</h2>
</div>
<div class="display:flex;flex-wrap:wrap">
    @foreach (ManagerNameAndPhoneOutputModel manager in _models)
    {
        <button class="purple-button">@manager.Name ,@manager.Phone</button>
    }
</div>
