@page "/taskWorker"
@using YourDay.DAL.Enums
@attribute [StreamRendering]
@rendermode InteractiveServer


<div style="display: flex;">
    <div>В период :</div>
    <div style="display: flex;">
        <div class="conteiner-for-text" style="width: 190px;">
            <input class="field" type="datetime" id="StartDateFrom" @bind="@dateFrom" placeholder="dd/mm/yyyy">
        </div>
        <div class="conteiner-for-text" style="width: 190px;">
            <input class="field" type="datetime" id="EndDateTo" @bind="dateTo" placeholder="dd/mm/yyyy">
        </div>
    </div>
</div>

<div style="display: flex;width: 190px;">
    <div>Со статусом :</div>
    <form>
    <select @bind="@status">
        <option value="0">Получен</option>
        <option value="1">В работе</option>
        <option value="2">Завершен</option>
        <option value="3">Отменен</option>

    </select>

    </form>
</div>

<div class="button-quest">
    <button @onclick="QestTaskFilter">Поиск</button>
</div>

<div class="container-task">
    @foreach (TaskOutputModelAllInfo task in _tasks)
    {
        <WorkerTaskCard task="task"></WorkerTaskCard>
    }
</div>


@code 
{
    private IEnumerable<TaskOutputModelAllInfo> _tasks;
    private IEnumerable<TaskOutputModel> _tasksFilter;
    private IEnumerable<TaskOutputModelWithOrderWithSpecialization> _tasksWorker;
    private const string Format = "hh:mm:ss";
    private TaskService _WorkerClient;
    public DateTime? dateFrom;
    public DateTime? dateTo;
    public Status? status;

    public TaskWorker()
    {
        _WorkerClient = new TaskService();
        _tasks = _WorkerClient.GetAllTasksWithAll();
    }

    protected override void OnInitialized()
    {
        dateFrom = null;
        dateTo = null;
        status = null;

    }

    public void QestTaskFilter()
    {
        _tasks = _WorkerClient.FilterTasks(dateFrom, dateTo, status);
    }
}
    
