<header class="navbar">
    <div>
        <NavLink href="/"><img src="/images/logo.png" alt=""></NavLink>
    </div>
    <nav class="menu">
        <ul>
            <li><NavLink href="#">Фото с мероприятий</NavLink></li>
            <li><NavLink href="#">Контакты</NavLink></li>
            <li><NavLink href="/info">О нас</NavLink></li>
            <li><RefreshNavLink></RefreshNavLink></li>
        </ul>
    </nav>
</header>