<header class="navbar">
    <div>
        <NavLink href="/"><img src="/images/logo.png" alt=""></NavLink>
    </div>
    <nav class="menu-yellow">
        <ul>
            <li><NavLink href="/NewOrder">Создать заказ</NavLink></li>
            <li><NavLink href="/applications">Заявки</NavLink></li>
            <li><NavLink href="/manager-statistics">Статистика</NavLink></li>
            <li><NavLink href="/clients">Клиенты</NavLink></li>
            <li><RefreshNavLink></RefreshNavLink></li>
        </ul>
    </nav>
</header>