<button @onclick="() => OpenModal(Application.Id)">&#128056</button>

<div class="product-card">
    <p>@Application.Id</p>
        @foreach (var i in Application.Histories)
        {
            <p>@i.DateTime</p>
            <p>@i.Comment</p>
        }
    </div>

@code {
    [Parameter]
    public ApplicationOutputModel Application { get; set; }

    [Parameter] public EventCallback<int> OnOpenModal { get; set; }

    private async Task OpenModal(int id)
    {
        await OnOpenModal.InvokeAsync(id);
    }
}