<button @onclick="() => OpenModal(order.Id)">	&#128056;</button>

<a href="./order/@order.Id">
    <div class="product-card">
        <p>@order.Id</p>
        <p>@order.OrderName</p>
        <p>@order.Date</p>
    </div>
</a>

@code {
    [Parameter]
    public OrderNameDateOutputModel order { get; set; }

    [Parameter] public EventCallback<int> OnOpenModal { get; set; }

    private async Task OpenModal(int id)
    {
        await OnOpenModal.InvokeAsync(id);
    }
}