<a href="./order/@Order.Id">
    <div class="product-card">
        <p>@Order.Id</p>
        <p>@Order.OrderName</p>
        <p>@Order.Date</p>
    </div>
</a>

@code {
    [Parameter]
    public OrderNameDateOutputModel Order { get; set; }
}