



<button @onclick="() => OpenModal(taskcCard.Id)">gegege</button>
<div class="product-card">
     <p>@taskcCard.Title </p>
     <p>aaaaaaaaa</p>
    @* <p>@taskcCard.Specialization </p>  *@
    <p>@taskcCard.TimeStart.ToShortTimeString() - @taskcCard.TimeEnd.ToShortTimeString()</p>
 </div>


@code {
    [Parameter]
    public TaskOutputModelWithSpecialization taskcCard { get; set; }
    [Parameter] public EventCallback<int> OnOpenModal { get; set; }

    private async Task OpenModal(int id)
    {
        await OnOpenModal.InvokeAsync(id);
    }

}

