<button @onclick="() => OpenModal(User.Id)">&#128056;</button>
    <div class="product-card">
        <p>@User.UserName</p>
        <p>@User.Mail</p>
        <p>@User.Phone</p>
    </div>

@code {
    [Parameter]
    public UserOutputModel User { get; set; }

    [Parameter] public EventCallback<int> OnOpenModal { get; set; }

    private async Task OpenModal(int id)
    {
        await OnOpenModal.InvokeAsync(id);
    }
}