<button @onclick="() => OpenModal(worker.Id)">	aaaaaaa &#128056;</button>

    <div class="product-card">
        <p>@worker.UserName</p>
        <p>aaaaaaaaaaa</p>
        @foreach (var i in @worker.Specializations)
        {
            <p>@i.Name</p>
        }

    </div>

@code {
    [Parameter]
    public UserSpecializationOutputModel worker { get; set; }

    [Parameter] public EventCallback<int> OnOpenModal { get; set; }

    private async Task OpenModal(int id)
    {
        await OnOpenModal.InvokeAsync(id);
    }
}