<div class="container-buttons">
    <a href="./taskMaster/task/@task.Id">

    <div class="taskMaster-card">
    <p>@task.Title </p>
    <p>@task.TimeStart - @task.TimeEnd</p>
    </div>
</a>
 </div>
@code {
    [Parameter]
    public TaskOutputModel task { get; set; }

}
