<div class="container-buttons">
    <a href="./taskMaster/task/@task.Id">

    <div class="taskMaster-card">
        <p>@task.Title </p>
        <p>@task.Date</p>
   
    </div>
    </a>
    <button onclick="window.task.showModal()"> Изменить </button>
 </div>
@code {
    [Parameter]
    public TaskOutputModel task { get; set; }

}
