<a href="./order/@order.Id">
    <div class="product-card">
        <p>@order.OrderName</p>
        <p>@order.Date.ToShortDateString()</p>
    </div>
</a>

@code {
    [Parameter]
    public OrderOutputModel order { get; set; }
}