<footer class="footer">
    <div class="contacts">
        <p class=".font-weight-bold">Контакты</p>
    </div>

    <nav class="box-in-footer">
        <ul>
            <li><p>E-mail:</p></li>
            <li><a href="mailto:your.day@something.com">your.day@something.com</a></li>
        </ul>
    </nav>

    <nav class="box-in-footer">
        <ul>
            <li><p>Телефон:</p></li>
            <li><p class="font-monospace">8(987)1234567</p></li>
        </ul>
    </nav>
</footer>