.footer {
    display: grid;
    grid-template-rows: 20px 60px 20px 60px;
    grid-auto-flow: column;
}

    .footer .box-in-footer {
        list-style: none;
    }

        .footer .box-in-footer ul {
            list-style: none;
        }

            .footer .box-in-footer ul li {
                margin: 0px 0px;
            }

            .footer .box-in-footer ul a {
                color: black;
            }

        .footer .box-in-footer p {
            margin: 0;
            padding: 0;
        }