@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <NavMenu />
    </div>

    <main>
        <body>
            @Body
        </body>
    </main>

    <div class="footer">
        <Footer />
    </div>
</div>