@inherits LayoutComponentBase

<div class="page">
    <div class="header">
         <NavMenu /> 
    </div> 

    <main>
        <article>
            @Body
        </article>
    </main>

    
</div>