@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <NavMenu />
    </div>

    <main>
        @Body
    </main>

    <div class="footer">
        <Footer />
    </div>
</div>