.page {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: column;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.header {
    grid-area: header;
    background-image: linear-gradient(18deg, rgb(55, 390, 103) 0%, #ff0000 70%);
}

main {
    grid-area: main;
    overflow: auto;
    padding: 15px 5px 10px 5px;
}

.footer {
    grid-area: footer;
}
