.page {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: column;
    grid-template-areas:
        'header'
        'main';
}

.header {
    grid-area: header;
    
}

main {
    grid-area: main;
    overflow: auto;
    padding: 15px 5px 10px 5px;
}
