.page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    grid-template-areas:
        'header'
        'main';
}

.header {
    grid-area: header;
}

main {
    grid-area: main;
    padding: 15px 5px 10px 5px;
}