.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style: none;
}

.navbar .menu ul li {
    margin: 20px 100px;
}

.navbar .menu ul a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.header-button {
    font-size: 170%;
    padding-right: 40px;
}

.button {
    background-color: greenyellow;
    border-radius: 20px;
}
