@rendermode InteractiveServer

<header class="navbar">
    <div>
        <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>

    @* <nav class="menu">
        <ul>
            <li><a href="#">Фото с мероприятий</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">О нас</a></li>
        </ul>
    </nav> *@

    <nav class="menu">
        <ul>
            <li><a href="">Клиент</a></li>
            <li><a href="/manager">Менеджер</a></li>
            <li><a href="/Worker">Мастер</a></li>
            <li><a href="/p">Тесты</a></li>
        </ul>
    </nav>

    <nav class="menu-yellow">
        <ul>
            <li><a href="" data-bs-toggle="modal" data-bs-target="#authentication">Вход</a></li>
            <li>
                <button @* type="button" *@ @* class="btn btn-primary" *@ data-bs-toggle="modal" data-bs-target="#authentication" @* style="background-color: #4340D2 *@">
                    <i class="bi bi-plus"></i>
                    Вход
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registration" style="background-color: #4340D2">
                    Регистрация
                </button>
            </li>
            <li><a href="./login">login</a></li>
            <li><a href="./logout">logout</a></li>
        </ul>
    </nav>
</header>

<div class="modal fade" id="authentication" tabindex="-1" aria-hidden="true">
    <AuthenticationModalForm />
</div>


<div class="modal fade" id="registration" tabindex="-1" aria-hidden="true">
    <RegistrationModalForm AddUser="AddClient" />
</div>


<div class="modal fade" id="infoRegistration" tabindex="-1" aria-labelledby="infoRegistration" aria-hidden="true">
    <InfoRegistrationModalForm />
</div> 

@code {
    private IUserService _userService;

    public NavMenu()
    {
        _userService = new UserService();
    }

    public void AddClient(UserRegistrationInputModel input)
    {
        var u = _userService.AddUser(input);
        //StateHasChanged();
    }
}