.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .navbar .menu ul {
        display: flex;
        list-style: none;
    }

        .navbar .menu ul li {
            margin: 20px 100px;
        }

        .navbar .menu ul a {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            color: black;
        }

.header-button {
    font-size: 170%;
    padding-right: 40px;
}

.button {
    background-color: greenyellow;
    border-radius: 20px;
}

@media screen and (max-width: 500px) {
    .navbar {
        flex-direction: column;
    }

        .navbar .menu ul {
            flex-direction: column;
            align-self: center;
        }

            .navbar .menu ul li {
                margin: 5px;
            }
}
