<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
       <img src="images/Logo.png"  />
    </div>
    <nav class="menu">
        <ul>
            <li><a href="#">Фото с мероприятий</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Цены</a></li>
            <li><a href="#">Блог</a></li>
        </ul>
    </nav>
    <div class="header-button">
        <input type="submit" class="button" value="Оставить заявку">
    </div>
</header>