<header class="navbar">
    <div>
        <a href="/"><img src="/images/logo.png" alt=""></a>
    </div>

    <nav class="menu">
        <ul>
            <li><a href="#">Фото с мероприятий</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">О нас</a></li>
        </ul>
    </nav>

    <div class="header-button">
        <input type="submit" class="button" value="Оставить заявку">
    </div>

    <nav class="login">
        <ul>
            <li><a href="#">Вход</a></li>
            <li><a href="#">Регистрация</a></li>
        </ul>
    </nav>

</header>