@page "/about"

<PageTitle>Info</PageTitle>

<div class="page-content">
     <div class="center">
        <a href="#"><img class="img-logo" src="/images/logo.png" alt=""></a>
    </div>
    <div class="center">
        <p>Празднование дней рождений, юбилеев и других важных событий в кругу близких людей всегда приятно. Особенно когда мероприятие грамотно спланировано. Агентство праздников «Твой день» предоставляет полный спектр услуг. Мы имеем более 10 лет успешного опыта в создании интересных, веселых тематических торжеств, команду профессионалов. Предоставляем гарантии каждому клиенту.</p>
    </div>
</div>