@page "/info"

<PageTitle>Info</PageTitle>

<div class="page-content">
     <div class="center">
        <a href="#"><img src="/images/logo.png" alt=""></a>
    </div> 
    <p>23232</p>
    <p>23232</p>
    <p>4545454</p>
    <p>65656565</p>
</div>