@page "/newOrder"
@attribute [StreamRendering]

<PageTitle>Новый заказ</PageTitle>

<div class="bod" >
    <div class="layout">
        <h2>Добавить заказ:</h2>
        <input type="text" placeholder="Название праздника">
        <input type="text" placeholder="Клиент">
        <input type="date" placeholder="Дата">
        <input type="number" placeholder="Количество человек">
        <input type="text" placeholder="Адрес">
        <input type="text" placeholder="Комментарии">
    </div>
    <button class="green-button">Добавить</button>
</div>