@page "/order"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Order</PageTitle>

@code {
    List<string> tasks = new List<string>() { "Привезти красные розы", "Заказать торт", "Привезти оформление", "Нужна живая съемка", "Часовая фотосессия" };
    

}

<div class="body">
     <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Праздник</th>
                    <th>Дата</th>
                    <th>Количество гостей</th>
                    <th>Адрес</th>
                    <th>Комментарии</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>День рождения мамы</td>
                        <td>10.11.2024</td>
                        <td> 15 человек</td>
                        <td>Большой концертный зал</td>
                        <td>любимый цвет именинницы - красный</td>
                    </tr>
            </tbody>
        </table>
    </section>


    <section>
        <div class="button-container">
            <button class="green-button"> История заказа </button>
            <button class="green-button"> Завершить заказ </button>
            <button class="green-button"> Другое </button>
        </div>
    </section>


    <section>

        <h3> Наши заказы:</h3>
        @foreach (var s in tasks){
            <button class="task-button"> <h4>@s </h4> работник: Аня <br> дата: 10.11.2004 <br> статус: получено </button>
        }
        <button class="task-button"> <h4>Добавить задачу</h4> </button>
    </section>
</div>
