@page "/gallery"
@rendermode InteractiveServer

<div class="container-for-img">
    <ul class="image-gallery">
        <li>
            <img src="~/images/gallery/01.jpg" />
            <div class="overlay"></div>
        </li>
        <li>
            <img src="~/images/gallery/02.jpg" />
            <div class="overlay"></div>
        </li>
        <li>
            <img src="~/images/gallery/03.jpg" />
            <div class="overlay"></div>
        </li>
        <li>
            <img src="~/images/gallery/04.jpg" />
            <div class="overlay"></div>
        </li>
    </ul>
</div>