@page "/z"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies

@inject NavigationManager navManager

<EditForm Model="loginModel" OnSubmit="StartLogin" FormName="Login">
    <InputText @bind-Value="loginModel.Mail"></InputText>
    <InputText @bind-Value="loginModel.Password"></InputText>
    <button type="submit">LOGIN</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public UserRegistrationInputModel loginModel { get; set; } = new UserRegistrationInputModel();

    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    public async Task StartLogin()
    {
        //Идум в базку и достаем инфу по логину и паролю (из loginModel)

        // var claims = new List<Claim>()
        // {
        //     new Claim("klaimeeeeee", loginModel.Login),
        //     new Claim(ClaimTypes.Role, "Manager")
        // };

        // var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
        // var pr = new ClaimsPrincipal(identity);

        // await httpContext.SignInAsync(pr);

        // navManager.NavigateTo("./");
        //navManager.NavigateTo("./Ch");
    }
}
