@page "/registration"
@rendermode InteractiveServer

<div class="container-add-order">
    <div class="fields-add-order">
        <form>
            <h2>Регистрация:</h2>

            <div class="conteiner-for-text">
                <label class="text">Имя:</label>
                <input @bind=_user.UserName class="field" type="name" placeholder="Введите имя">
            </div>
            <div class="conteiner-for-text">
                <label class="text">Почта:</label>
                <input @bind=_user.Mail class ="field" type="text" placeholder="Введите почту">
            </div>
            <div class="conteiner-for-text">
                <label class="text">Телефон:</label>
                <input @bind=_user.Phone class ="field" type="text" placeholder="Введите телефон">
            </div>
            <div class="conteiner-for-text">
                <label class="text">Пароль:</label>
                <input @bind=_user.Password class ="field" type="text" placeholder="Введите пароль">
            </div>
        </form>

        <div>
            <button @onclick=AddUser class="purple-button">Регистрация</button>
            <button class="purple-button">Отмена</button>
        </div>
    </div>
</div>

<div class="с">
    <h2> Пользователи:</h2>
    @foreach (var i in _users)
    {
        <button class="celebrate-buttons"> <UserCard user=i> </UserCard> </button>
    }
</div>

@code
{
    private UserRegistrationInputModel _user;

    private IEnumerable<UserOutputModel> _users;

    private IUserService _userService;

    public UserTests()
    {
        _userService = new UserService();
    }

    protected override void OnInitialized()
    {
        _users = _userService.GetAllUsers();

        _user = new UserRegistrationInputModel();
    }

    public void AddUser()
    {
        _users.ToList().Add(_userService.AddUser(_user));
    }
}