.manager-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.manager-h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 40px;
    color: #FFFEFF;
}
.manager-blok {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}
.manager-button-contaiber {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #54494B;
}

