@page "/manager"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@using YourDay.BLL.Services;

<PageTitle>Manager</PageTitle>

@code{
    List<string> lastCelebrates = new List<string>() { "Юбилей", "8 марта", "Праздник осени", "Рождество" };
    private int lc = 0;

    private IEnumerable<OrderNameDateOutputModel> _orders;

    private OrderService _orderService;

    public Manager()
    {
        _orderService = new OrderService();

        _orders = _orderService.GetAllOrdersForCard();
    }  

    private void CountLastCelebrates()
    {
        lc++;
    }

    private void NavigateToPage()
    {
        NavigationManager.NavigateTo("/order");
    }

    private void NewOrder()
    {
        NavigationManager.NavigateTo("/newOrder");
    }

    private void Test()
    {
        NavigationManager.NavigateTo("/p");
    }
    private void Applications()
    {
        NavigationManager.NavigateTo("/applications");
    }
    private void SeeWorkers()
    {
        NavigationManager.NavigateTo("/workers");
    }
    private void SeeClients()
    {
        NavigationManager.NavigateTo("/clients");
    }
}
workers
<body>
    <div class="manager-container">
        <section class="navbar">
            <nav class="menu-yellow">
                <ul>
                    <li><a href="" @onclick="NewOrder">Создать заказ</a></li>
                    <li><a href="/manager" @onclick="CountLastCelebrates">История</a></li>
                    <li><a href="" @onclick="Applications">Заявки</a></li>
                    <li><a href="" @onclick="SeeWorkers">Сотрудники</a></li>
                    <li><a href="" @onclick="SeeClients">Клиенты</a></li>
                </ul>
            </nav>
        </section>

        

        <section>
            <div class="manager-blok">
                <h2 class="manager-h1"> Наши заказы:</h2>
                <div class="manager-button-container">
                    @foreach (var i in _orders)
                    {
                        <button class="order-button"> <OrderCard order=i> </OrderCard> </button>
                    }
                </div>
            </div>
        </section>

        <section>
            <div class="manager-blok">
                @if (lc % 2 != 0)
                {
                    <h2 class="manager-h1"> Прошлые заказы:</h2>
                    @foreach (var s in lastCelebrates)
                    {
                            <button class="order-button" @onclick="NavigateToPage"> @s <br> 16.02 </button>
                    }
                }
            </div>
        </section>
    </div>
</body>

<p class="w" role="status"> </p>