@page "/manager"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager 
@using YourDay.Components.Templates;
@using YourDay.BLL.Mapping;
@using YourDay.BLL.Models;
@using YourDay.BLL.Clients;

<PageTitle>Manager</PageTitle>

@code{
    List<string> lastCelebrates = new List<string>() { "Юбилей", "8 марта", "Праздник осени", "Рождество" };
    private int lc = 0;

    private List<OrderOutputModel> _orders;

    private OrderClient _orderClient;

    public Manager()
    {
        _orderClient = new OrderClient();

        _orders = _orderClient.GetAllOrders();
    }  

    private void CountLastCelebrates()
    {
        lc++;
    }

    private void NavigateToPage()
    {
        NavigationManager.NavigateTo("/order");
    }

    private void NewOrder()
    {
        NavigationManager.NavigateTo("/newOrder");
    }

    private void Test()
    {
        NavigationManager.NavigateTo("/p");
    }
    private void Applications()
    {
        NavigationManager.NavigateTo("/applications");
    }
}

<body>
    <div class="manager-container">

    <header class="site-header">
        <div class="container">
            <h1>ТвойДень</h1>
            <p>Добро пожаловать в ваш личный кабинет!</p>
            
        </div>
    </header>

    <section>
        <div class="button-container">
            <button class="purple-button" @onclick="NewOrder"> Создать заказ </button>
            <button class="green-button"> Наши заказы </button>
            <button class="blue-button" @onclick="CountLastCelebrates"> Прошлые заказы </button>
                <button class="pink-button" @onclick="Applications"> Заявки  </button>
                <button class="purple-button" @onclick="Test"> ТЕСТЫ  </button>
        </div>
    </section>

    <section>
        <div class="с">
                <h2> Наши заказы:</h2>
       
                @foreach (var i in _orders)
                {
                    <button class="order-button"> <OrderCard order=i> </OrderCard> </button>
                }
        </div>
    </section>

    <section>
        <div class="с">
            @if (lc % 2 != 0)
            {
                <h2> Прошлые заказы:</h2>
                @foreach (var s in lastCelebrates)
                {
                    <button class="last-order-button" @onclick="NavigateToPage"> @s <br> 16.02 </button>
                }
            }
        </div>
    </section>
    </div>
</body>

<p class="w" role="status"> </p>


