@page "/newOrder"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager 

<GetClaims SendIsCompleted="b=>_isCompleted=b" SendRole="p=>_role=p"></GetClaims>

@if (_isCompleted && _role != RoleUI.Manager.ToString())
{
    <ReturnToStart></ReturnToStart>
}
else
{
    <div class="back">
        <section>

        <div class="container-add-order">
               <div class="fields-add-order">
                        <form>
                            <h2>Добавить заказ:</h2>
            
                            <div class="container-for-text">
                                <label class="text" >Название праздника:</label>
                        <input @bind="orderInputModel.OrderName" class="field" type="name" placeholder="Введите название праздника">
                            </div>
@*                             <div class="container-for-text">
                                <label class="text" >Клиент:</label>
                                <input @bind="_inputModel.ClientId" class="field"   placeholder="Выберите имя клиента" type="number"> 
                            </div>
                            <div class="container-for-text">
                                <label class="text" >Менеджер:</label>
                                <input @bind="_inputModel.ManagerId" class="field"  type="number" placeholder="Выберите имя менеджера">
                            </div>
                            <div class="container-for-text">
                                <label class="text" >Статус:</label>
                                <input @bind="_inputModel.StatusId" class="field" type="number" placeholder="Выберите статус:">
                            </div> *@
                            <div class="container-for-text">
                                <label class="text">Выберите статус:</label>
                                <select @bind="orderInputModel.Status">
                                    <option value=0>Получен</option>
                                    <option value=1>В работе</option>
                                    <option value=2>Сделан</option>
                                </select>
                            </div>

                            <div class="container-for-text">
                                <label class="text" >Дата:</label>
                        <input @bind="orderInputModel.Date" class="field" type="text" placeholder="Введите дату праздника">
                            </div>
                            <div class="container-for-text">
                                <label class="text" >Адрес;</label>
                        <input @bind="orderInputModel.Address" class="field" type="text" placeholder="Введите адрем вашего события">
                            </div>
                            <div class="container-for-text">
                                <label class="text" >Количество человек:</label>
                        <input @bind="orderInputModel.CountPeople" class="field" type="number" placeholder="Введите сколько будет людей на празднике">
                            </div>
                            <div class="container-for-text">
                                <label class="text" >Цена:</label>
                        <input @bind="orderInputModel.Price" class="field" type="number" placeholder="Введите цену">
                            </div>
@*                             <div class="container-for-text">
                                <label class="text" >Комментарии:</label>
                                <input @bind="_inputModel.Comments" class="field"  type="text"  placeholder="Введите дополнительную информацию">
                            </div> *@
                            
                        </form>

                        <div>
                                    <button @onclick="AddOrder" class="purple-button">Создать</button>
                                    <button class="purple-button" @onclick="Main"> Назад </button>
                        </div>
               </div>
        </div>
        </section>



        
    </div>
}

@code
{
    private string? _role;

    private bool _isCompleted;

    private OrderForManagerInputModel orderInputModel;

    private IEnumerable<OrderNameDateOutputModel> _orders;

    private IOrderService _orderService;

    private OrderForManagerInputModel _inputModel;
    
    public NewOrder()
    {
        _orderService = new OrderService();

        orderInputModel = new OrderForManagerInputModel();
    }

    public void AddOrder()
    {
        _orderService.AddOrder(orderInputModel);

        NavigationManager.NavigateTo("/manager");
    }

    private void Main()
    {
        NavigationManager.NavigateTo("/manager");
    }
}