@page "/newTask"
@attribute [StreamRendering]



@* <section> 
    <div class="layout">
        <h2>Добавить заказ:</h2>
        <input type="text" placeholder="Задача">
        <input type="text" placeholder="Специализация">
        <input type="text" placeholder="Мастер">
        <input type="date" placeholder="Дата">
        <input type="text" placeholder="Статус">
        <form>
            <p>Выьерете статус:</p>
            <div>
                <input type="radio"
                       id="contactChoice1"
                       name="contact"
                       value="s1"
                       checked />
                <label for="contactChoice1">Получено</label>

                <input type="radio" id="contactChoice2" name="contact" value="s2" />
                <label for="contactChoice2">Передано</label>

                <input type="radio" id="contactChoice3" name="contact" value="s3" />
                <label for="contactChoice3">Сделано</label>
            </div>
        </form>
    </div>
    <button class="green-button">Добавить</button>
</section>
 *@


<section>
    <div class="back">
        <section>
            <div class="container-add-order">
                   <div class="fields-add-order">
                            <form>
                                <h2>Добавить задачу:</h2>
            
                                <div class="conteiner-for-text">
                                    <label class="text" >Название задачи:</label>
                                    <input  class="field" type="name"  placeholder="Введите название задачи">
                                </div>
                                <div class="conteiner-for-text">
                                    <label class="text" >Специализация:</label>
                                    <input  class="field" type="name" placeholder="Введите специализацию">
                                </div>
                                <div class="conteiner-for-text">
                                    <label class="text" >Мастер:</label>
                                    <input  class="field"  type="text"  placeholder="Введите мастера">
                                </div>
                                <div class="conteiner-for-text">
                                    <label class="text" >Дата:</label>
                                    <input  class="field"  type="number"  placeholder="Введите дату">
                                </div>
                                <div class="conteiner-for-text">
                                    <label class="text" >Статус:</label>
                                    <input  class="field"  type="text"  placeholder="Выберете статус">
                                </div>  
                            </form>

                            <div>
                                <button  class="purple-button">Создать</button>
                                <button class="purple-button" > Назад </button>
                            </div>
                   </div>
            </div
        </section>
    </div>

</section>


