@page "/newworker"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@using YourDay.BLL.Models;

<div class="back">
    <section>

        <div class="container-add-order">
            <div class="fields-add-order">
                <form>
                    <h2>Добавить заказ:</h2>

                    <div class="conteiner-for-text">
                        <label class="text">Имя сотрудника:</label>
                        <input @bind="workerInputModel.UserName" class="field" type="name" placeholder="Введите имя сотрудника">
                    </div>
@*                    СПЕЦИАЛИЗАЦИЯ
                    <div class="conteiner-for-text">
                        <label class="text">Выберите статус:</label>
                        <select @bind="orderInputModel.Status">
                            <option value=0>Получен</option>
                            <option value=1>В работе</option>
                            <option value=2>Сделан</option>
                        </select>
                    </div> *@

                    <div class="conteiner-for-text">
                        <label class="text">Почта:</label>
                        <input @bind="workerInputModel.Mail" class="field" type="text" placeholder="Введите почту сотрудника">
                    </div>
                    <div class="conteiner-for-text">
                        <label class="text">Телефон:</label>
                        <input @bind="workerInputModel.Phone" class="field" type="text" placeholder="Введите телефон сотрудника">
                    </div>
                    <div class="conteiner-for-text">
                        <label class="text">Пароль</label>
                        <input @bind="workerInputModel.Password" class="field" type="text" placeholder="Введите пароль сотрудника">
                    </div>
                </form>

                <div>
                    <button @onclick="AddWorker" class="purple-button">Добавить</button>
                    <button class="purple-button" @onclick="Main"> Назад </button>
                </div>
            </div>
        </div>
    </section>


</div>

@code
{
    private UserRegistrationInputModel workerInputModel;

    private UserService _userService;

    public NewWorker()
    {
        _userService = new UserService();

        workerInputModel = new UserRegistrationInputModel();
    }

    public void AddWorker()
    {
        _userService.AddWorker(workerInputModel);

        NavigationManager.NavigateTo("/workers");
    }

    private void Main()
    {
        NavigationManager.NavigateTo("/workers");
    }
}