.task-button {
    border: 1px solid #92dea8;
    height: 150px;
    line-height: 30px;
    align-items: baseline;
    padding: 10px 40px;
    margin: 10px 10px;
    border-radius: 20px;
    color: #AF8DFE;
}
