.sss {

    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.cor {
    grid-area: 1 / 2 / 4 / 6;
    background-color: mediumpurple;
}
.q{
    color: forestgreen;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
}
.test1 {
    background-color: lightgreen;
    margin: 40px 40px 40px 40px;
    padding: 20px 20px 20px 20px;
}