@page "/p"
@rendermode InteractiveServer


<button type="button" onclick="window.closeMe.showModal()">
    Открыть как модалку
</button>


<dialog 
        id="closeMe"
        aria-labelledby="heading">
    <h2 id="heading">Закрой меня! 🙏</h2>

    <form method="dialog">
  
        <button>
            Закрыть с помощью формы
        </button>
    </form>
</dialog>

<form>
    <label for="fruits">Выберите фрукт:</label>
    <select id="fruits" name="fruits">
        <option value="apple">Яблоко</option>
        <option value="banana">Банан</option>
        <option value="orange">Апельсин</option>
    </select>
</form>