@page "/workers"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<GetClaims SendIsCompleted="b=>_isCompleted=b" SendRole="p=>_role=p"></GetClaims>

@if (_isCompleted && _role != RoleUI.Manager.ToString())
{
    <ReturnToStart></ReturnToStart>
}
else
{
    <div class="body">
        <ManagerDialog></ManagerDialog>

        <section>
            <h2 class="manager-h1"> Сотрудники:</h2>
            <div class="container-task">
                <button class="order-button" data-bs-toggle="modal" data-bs-target="#registrationForManager"> + </button>
                @foreach (var i in _workers)
                {
                    <button @onclick="() => ShowModal(i.Id)" class="worker-button"> <WorkerCard worker="i" OnOpenModal="ShowModal"> </WorkerCard> </button>
                }
            </div>
        </section>
    </div>

    <div class="modal fade" id="registrationForManager" tabindex="-1" aria-hidden="true">
        <RegistrationModalForm AddUser="AddWorker" />
    </div>
}

@code
{
    private string? _role;

    private bool _isCompleted;

    private UserService _userService;

    private IEnumerable<UserSpecializationOutputModel> _workers;

    private int selectedWorkerId;

    public Workers()
    {
        UserService _userService = new UserService();
    }

    protected override void OnInitialized()
    {
        _workers = _userService.GetAllUsersSpecializationByRole(RoleUI.Worker);
    }

    public void AddWorker(UserRegistrationInputModel input)
    {
        var u = _userService.AddWorkerForManager(input);
    }

    private void DeleteUser()
    {
        _userService.DeleteUser(selectedWorkerId);
    }

    private async Task ShowModal(int workerId)
    {
        selectedWorkerId = workerId;

        await JSRuntime.InvokeVoidAsync("user.showModal");

        StateHasChanged();
    }
}