@page "/master"
@rendermode InteractiveServer
@inject NavigationManager NavigationMaster

<PageTitle>Master</PageTitle>
@code
{
    private void TaskMaster()
    {
        NavigationMaster.NavigateTo("/taskMaster");
    }
    private void ContactTheManager()
    {
        NavigationMaster.NavigateTo("/contactTheManager");
    }
   
}


<h2 class="manager-h1">Вы зашли как сотрудник :</h2>
<div class="manager-container">
        <section class="navbar">
            <nav class="menu-yellow">
                <ul>
                <li><a href="" @onclick="TaskMaster">Задачи</a></li>
                <li><a href="/manager" @onclick="ContactTheManager">Связь с менеджером</a></li>
                </ul>
            </nav>
        </section>
</div>

