@page "/taskMaster"
@attribute [StreamRendering]

<div class="conteiner-for-text">
    <label class="text" for="inputEmail4">Название задачи:</label>
    <input class="field" type="name" id="inputName" placeholder="Введите название задачи">
</div>

<div style="display: flex;">
    <div>В период :</div>
    <div style="display: flex;">
        <div class="conteiner-for-text" style="width: 90px;">
            <input class="field" type="number" id="inputName" placeholder="от" style="width: 90px;">
        </div>
        -
        <div class="conteiner-for-text" style="width: 90px;">
            <input class="field" type="number" id="inputName" placeholder="до" style="width: 90px;">
        </div>
    </div>
</div>

<div class="button-quest">
    <input type="button" value="Поиск">
</div>

<div style="display:flex;flex-wrap:wrap">
    @foreach(var i in tasks)
    {
        <div class="taskMaster-card">
            <p>@i.Name</p>
            <p>@i.WorkerName</p>
            <p>@i.Date</p>
            <p>@i.Status</p>
        </div>
    }
</div>


@code 
{
    private List<TaskOutputModel> tasks;
    private IMasters _masters;

    public TaskMaster()
    {
        _masters = new MasterMock();

        tasks = _masters.GetAllOrders();
    }
}
    @* <div>
     <section>
       <h1>Задачи :</h1>
       @foreach(string task in tasks)
       {
        <button class="task-button"> <h4>@task </h4> пваыацпукпыв <br>fafqwdada </button>
       }
    </section>
    </div>
 *@
