@page "/taskMaster/task/{Id:int}"
@using YourDay.DAL.Enums;

@code {
    [Parameter]
    public int Id{ get; set;}

    private TaskClient taskClinet = new TaskClient();
    private List<TaskOutputModel> _tasks;


    public TaskPage()
    {
        _tasks = taskClinet.GetTaskById(Id);
    }

    protected override void OnInitialized()
    {
        List<TaskOutputModel> _task = taskClinet.GetAllTask();
        taskClinet.UpdateStatusTaskByTaskId(Id, Status.Cancelled);
    }

    public void UpdateStatusTask(ChangeEventArgs e)
    {

        int newStatusInt = int.Parse(e.Value.ToString());

        Status newStatus = Status.Received;

        switch (newStatusInt)
        {
            case 0:
                newStatus = Status.Received;

                break;
            case 1:
                newStatus = Status.InProgress;

                break;
            case 2:
                newStatus = Status.Completed;

                break;
            case 3:
                newStatus = Status.Cancelled;

                break;
        }

        taskClinet.UpdateStatusTaskByTaskId(Id, newStatus);
    }
 }
 <div class="task-container">

    @foreach (TaskOutputModel task in _tasks)
    {
        <div class="taskMaster-card">
            <p class="task-id">Id:@task.Id</p>
            <p class="task-title"> Название: @task.Description</p>
            <p class="task-date">Дата: @task.TimeStart - @task.TimeEnd</p>
            <select @onchange="@(() =>  Console.WriteLine("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA!!!!!!!!!!!!!!!!!!!"))">
                <option value="0">Получен</option>
                <option value="1">В работе</option>
                <option value="2">Завершен</option>
                <option value="3">Отменен</option>
            </select>
        </div>
    }

 </div>

  
