@page "/taskMaster/task/{Id:int}"
@using YourDay.DAL.Enums;
@rendermode InteractiveServer
<div >
    <div >
        <div class="container-task">
            <MasterTaskCard task="_task"></MasterTaskCard>
            <form>
            <select  @onchange="UpdateStatusTask">
                <option value="0">Получен</option>
                <option value="1">В работе</option>
                <option value="2">Завершен</option>
                <option value="3">Отменен</option>
            </select>
            </form>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private TaskClient taskClinet = new TaskClient();
    private TaskOutputModel _task;

    public TaskPage()
    {
    }

    protected override void OnInitialized()
    {
        _task = taskClinet.GetTaskById(Id);
    }

    public void UpdateStatusTask(ChangeEventArgs e)
    {
        int newStatusInt = int.Parse(e.Value.ToString());

        Status newStatus = Status.Received;

        switch (newStatusInt)
        {
            case 0:
                newStatus = Status.Received;

                break;
            case 1:
                newStatus = Status.InProgress;

                break;
            case 2:
                newStatus = Status.Completed;
    private List<TaskOutputModel> _tasks;
    private MasterService _masters;

                break;
            case 3:
                newStatus = Status.Cancelled;

                break;
        }
      
        taskClinet.UpdateStatusTaskByTaskId(Id, newStatus);


    }
}


       