@page "/taskMaster"
@attribute [StreamRendering]
@rendermode InteractiveServer



<div class="conteiner-for-text">
    <label class="text" for="inputEmail4">Название задачи:</label>
    <input class="field" type="name" id="inputName" placeholder="Введите название задачи">
</div>

<div style="display: flex;">
    <div>В период :</div>
    <div style="display: flex;">
        <div class="conteiner-for-text" style="width: 90px;">
            <input class="field" type="datetime" id="StartDateFrom" placeholder="от" @bind="@dateFrom">
        </div>

        <div class="conteiner-for-text" style="width: 90px;">
            <input class="field" type="number" id="inputName" placeholder="до" style="width: 90px;">
        </div>
    </div>
</div>

<div class="button-quest">
    <button @onclick="QestTaskFilter">Поиск</button>
</div>

<div class="container-task">
    @foreach(TaskOutputModel task in _tasks)
    {
        <MasterTaskCard task="task"></MasterTaskCard>
    }
</div>


@code 
{
    private List<TaskOutputModel> _tasks;
    private TaskService _masterClient;
    public DateTime dateFrom;

    public TaskMaster()
    {
        _masterClient = new TaskService();
        _tasks = _masterClient.GetAllTask();
    }

    protected override void OnInitialized()
    {
        dateFrom = DateTime.Now;
        
    }

    public void QestTaskFilter()
    {
       _tasks = _masterClient.FilterTasks(dateFrom);
    }
 


}
    
