@page "/taskMaster"
@attribute [StreamRendering]


<div class="conteiner-for-text">
    <label class="text" for="inputEmail4">Название задачи:</label>
    <input class="field" type="name" id="inputName" placeholder="Введите название задачи">
</div>

<div style="display: flex;">
    <div>В период :</div>
    <div style="display: flex;">
        <div class="conteiner-for-text" style="width: 90px;">
            <input class="field" type="number" id="inputName" placeholder="от" style="width: 90px;">
        </div>
        -
        <div class="conteiner-for-text" style="width: 90px;">
            <input class="field" type="number" id="inputName" placeholder="до" style="width: 90px;">
        </div>
    </div>
</div>

<div class="button-quest">
    <button>Поиск</button>
</div>

<div class="container-task">
    @foreach(TaskOutputModel task in _tasks)
    {
        <MasterTaskCard task="task"></MasterTaskCard>
    }
</div>


@code 
{
    private List<TaskOutputModel> _tasks;
    private TaskClient _masterClient;

    public TaskMaster()
    {
        _masterClient = new TaskClient();
        _tasks = _masterClient.GetAllTask();
    }
}
    
