@page "/taskMaster/task/{Id:int}"
@using YourDay.DAL.Enums;

@* @code {
    [Parameter]
    public int Id { get; set;}
    
    private TaskClient taskClinet = new TaskClient();
    private List<TaskOutputModel> _tasks;


    public TaskPage()
    {
        _tasks = taskClinet.GetTaskById(Id);
    }

    protected override void OnInitialized()
    {
        List<TaskOutputModel> _task = taskClinet.GetTaskById(Id);
        taskClinet.UpdateStatusTaskByTaskId(Id, Status.Cancelled);
    }

    public void UpdateStatusTask(ChangeEventArgs e)
    {

        int newStatusInt = int.Parse(e.Value.ToString());

        Status newStatus = Status.Received;

        switch (newStatusInt)
        {
            case 0:
                newStatus = Status.Received;

                break;
            case 1:
                newStatus = Status.InProgress;

                break;
            case 2:
                newStatus = Status.Completed;
    private List<TaskOutputModel> _tasks;
    private MasterService _masters;

                break;
            case 3:
                newStatus = Status.Cancelled;

                break;
        }

    public TaskPage()
    {
        _masters = new MasterService();
    }
 }

<div class="client-button">
    <div class="client-button">
      @foreach(TaskOutputModel task in _tasks)
        {
            <div class="container-task">
                <p class=".text"> Номер задачи :@Id</p>
                <p class=".text">Описание задачи : @task.Description</p>
                <p class=".text">Время :@task.TimeStart-@task.TimeEnd</p>
                <select @onchange="UpdateStatusTask">
                    <option value="0">Получен</option>
                    <option value="1">В работе</option>
                    <option value="2">Завершен</option>
                    <option value="3">Отменен</option>
                </select>
            </div>
        }
   </div>
 </div> *@
 
