@* <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">Здесь вы можете связаться с менеджером:</h1>
        </div>
        <table>
            <thead>
                @foreach (ColumnForTables column in _table.ContactWithManagerColumns)
                {
                <th>
                        @column.LayoutHeader
                </th>
                }
            </thead>
            <tbody>
                @foreach (ManagerNameAndPhoneOutputModel manager in _models)
                {
                    <tr>
                        @foreach (ColumnForTables column in _table.ContactWithManagerColumns)
                        {
                            <td>
                                @typeof(ManagerNameAndPhoneOutputModel).GetProperty(column.Field).GetValue(manager)
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public bool IsOpened { get; set; }

    private Tables _table;

    private IEnumerable<ManagerNameAndPhoneOutputModel> _models;

    private IManagerService _managerService;

    public ContactWithManagerModalForm()
    {
        _table = new Tables();
        _models = new List<ManagerNameAndPhoneOutputModel>();
        _managerService = new ManagerService();
    }

    protected override async Task OnInitializedAsync()
    {
        _table.GetTableForPrintManagers();
        _models = await _managerService.GetAllManagers();
    }
} *@