<dialog id="task" aria-labelledby="heading">
    <h2 id="heading">Что вы хотите сделать с задачей?</h2>
    <form method="dialog">
        <button>
            Закрыть
        </button>
        <button>
            Изменить
        </button>
        <button>
            Установить статус
        </button>
        <button>
            Архивировать
        </button>
    </form>
</dialog>

@code {
    [Parameter]
    public int aaa { get; set; }

    private ITaskService _taskService;

    private TaskOutputModelAllInfo task;

    public int a { get; set; }

    public ManagerDialogForTaskModalForm()
    {
        a = aaa;
        _taskService = new TaskService();

        //task = _taskService.GetTaskByIdWithAll(SelectedTaskId);
    }
}

@* 

        <ManagerDialogForTaskModalForm aaa=14></ManagerDialogForTaskModalForm>
        <section>
            <h2 class="manager-h1"> Задачи:</h2>
            <div class="container-task">
                @if (_task is not null)
                {
                    @foreach (var i in _task)
                    {
                        <button @onclick="() => ShowModal(i.Id)" class="order-button"><TaskManagerCard taskcCard="i" OnOpenModal="ShowModal"> </TaskManagerCard> </button>
                    }
                }
            </div>
        </section>


        <section>
            <div class="button-container">
                <button class="purple-button"> История заказа </button>
                <button class="purple-button"> Завершить заказ </button>
                <button class="purple-button"> Другое</button>
                <button class="order-button"> <AddTaskCard order=OrderOutput> </AddTaskCard> </button>
                
            </div>
        </section>
    </div> *@