<dialog id="order" aria-labelledby="heading">
    <h2 id="heading">Изменить статус: &#128054 </h2>
    <form>
        <select @onchange="UpdateStatusOrder">
            <option value="0">@_enumService.GetDisplayName(StatusUI.Received)</option>
            <option value="1">@_enumService.GetDisplayName(StatusUI.InProgress)</option>
            <option value="2">@_enumService.GetDisplayName(StatusUI.Completed)</option>
            <option value="3">@_enumService.GetDisplayName(StatusUI.Canselled)</option>
        </select>
    </form>
    <form method="dialog">
        <button> Закрыть</button>
    </form>

</dialog>