@inject NavigationManager navManager

<section class="text-style">
    <dialog id="application" aria-labelledby="heading">
        <h2 id="heading">Что сделать с заявкой?</h2>
        <form method="dialog">
            <button>
                Закрыть
            </button>
            <button @onclick="DeleteApplication">
                Архивировать
            </button>
            <button @onclick="MoveToOrder">
                Создать заказ
            </button>
        </form>
    </dialog>
</section>

@code {
    [Parameter]
    public int SelectedApplicationId { get; set; }

    private IOrderService _orderService;

    public ManagerDialogForApplicationModalForm()
    {
        _orderService = new OrderService();
    }

    private void DeleteApplication()
    {
        _orderService.UpdateOrderStatus(SelectedApplicationId, StatusUI.Canselled);
    }

    private void MoveToOrder()
    {
        navManager.NavigateTo($"./order/{SelectedApplicationId}");
    }
}