<dialog id="task" aria-labelledby="heading">
    <h2 id="heading">Что вы хотите сделать?</h2>

    <form method="dialog">
        <button>
            Полная информация
        </button>
        <button>
            Изменить
        </button>
        <button >
            Удалить
        </button>
        <button>
            Закрыть
        </button>
    </form>
</dialog>

@code {
    [Parameter]
    public int SelectedTaskId { get; set; }

    private IUserService _userService;

    public ManagerDialogForTaskModalForm()
    {
        _userService = new UserService();
    }

    
}