@rendermode InteractiveServer
<dialog id="aaa" aria-labelledby="heading">
    <h2 id="heading">Что вы хотите сделать?</h2>
    <h3> @aaa </h3>
    <form method="dialog">
       
        <button>
            Закрыть
        </button>
        <button @onclick="DeleteUser">
            Удалить
        </button>
    </form>
</dialog>

@code {
    [Parameter]
    public int aaa { get; set; }

    private ITaskService _taskService;

    private TaskOutputModelAllInfo task;

    public int a { get; set; }

    public ManagerDialogForTaskModalForm()
    {
        a = aaa;
        _taskService = new TaskService();

        //task = _taskService.GetTaskByIdWithAll(SelectedTaskId);
    }

    protected override void OnInitialized()
    {
        StateHasChanged();


    }

    

    protected override void OnParametersSet()
    {
        StateHasChanged();
        // Вызов базовой реализации метода
        base.OnParametersSet();

 
    }


    private void DeleteUser()
    {

        task = _taskService.GetTaskByIdWithAll(aaa);
    }
    
}