<dialog id="task" aria-labelledby="heading">
    <h2 id="heading">Что вы хотите сделать с задачей?</h2>
    <form method="dialog">
        <button>
            Закрыть
        </button>
        <button>
            Изменить
        </button>
        <button>
            Установить статус
        </button>
        <button>
            Архивировать
        </button>
    </form>
</dialog>

@code {
    [Parameter]
    public int TaskId { get; set; }

    private ITaskService _taskService;

    private TaskOutputModelAllInfo _task;

    public ManagerDialogForTaskModalForm()
    {
        _taskService = new TaskService();
    }
}